@model LibraryApp.Models.Event
@{
    ViewData["Title"] = "Ново събитие";
}
<h2 class="mb-3">Ново събитие</h2>
<hr />
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="StartAt" class="form-label"></label>
        <input asp-for="StartAt" class="form-control" />
        <span asp-validation-for="StartAt" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Запази</button>
    <a asp-action="Index" class="btn btn-outline-secondary">Отказ</a>
</form>
