@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Достъп отказан";
}
<div class="container py-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading">Достъп отказан</h4>
        <p>Нямате необходимите права за тази операция.</p>
        <hr />
        <a class="btn btn-primary" href="/">Към началната страница</a>
    </div>
</div>
