@model LibraryApp.Models.Member
<div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="JoinedAt" class="form-label"></label>
    <input asp-for="JoinedAt" class="form-control" />
    <span asp-validation-for="JoinedAt" class="text-danger"></span>
</div>
