@model LibraryApp.Models.Member
@{
    ViewData["Title"] = "Редакция член";
}
<h2 class="mb-3"><i class="bi bi-pencil-square me-2"></i>Редакция</h2>
<hr />
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <partial name="~/Views/Members/_Form.cshtml" model="Model" />
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary"><i class="bi bi-check2-circle me-1"></i> Запази</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Отказ</a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
