@model LibraryApp.Models.Book
@{
    ViewData["Title"] = "Детайли";
}
<div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="mb-0"><i class="bi bi-eye me-2"></i>Детайли</h2>
    <div>
        @{
            ViewBag.ViewText = "Детайли";
        }
        <partial name="~/Views/Shared/_CrudActions.cshtml" />
    </div>
</div>
<hr />
<dl class="row">
    <dt class="col-sm-3">Заглавие</dt>
    <dd class="col-sm-9">@Model.Title</dd>
    <dt class="col-sm-3">Автор</dt>
    <dd class="col-sm-9">@Model.Author?.Name</dd>
    <dt class="col-sm-3">Година</dt>
    <dd class="col-sm-9">@Model.Year</dd>
</dl>
<a asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Назад</a>
